@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* { margin: 0.25em; }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #555;
    margin-top: 130px;
}

h1 {
  font-size: 2em;
  color: #65b;
}

hr {
  border: none;
  border-bottom: 1px solid #555;
}

input {
  border-radius: 2px;
  cursor: pointer;
  height: 2em;
  font-size: 1.5em;
  vertical-align: middle;
  background-color: #65b;
  color: #eee;
  border-radius: 4px;
  padding: 0 20px;
}

input[type=number] {
  padding: 2px;
  margin: 0;
  height: 1em;
  font-size: 1.5em;
}

a {
  color: #f67;
  text-decoration: none;
}

p {
overflow-wrap: break-word;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.space {
  padding: .1em .5em;
}

.box {
  flex: 1 1 0;
  margin: 0.5em;
  padding: .1em .5em;
}

.boxlight {
  flex: auto;
}

.one {
  flex-basis: 60%;
}

.two {
  flex-basis: 40%;
}

.three {
  flex-basis: 30%;
}

.four {
  flex-basis: 20%;
}

.col {
  border: 1px solid #555;
  border-radius: 4px / 4px;
  background-color: #ccc;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.success {
  padding: 0 .25em;
  background-color: #bf6;
  border-radius: 4px;
}

.alert {
  padding: 0 .25em;
  background-color: #fdc;
  border-radius: 4px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

#navbar {
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #555;
}

@media screen and (max-width: 780px) {

  body {
  margin-top: 160px;
  }

  #navbar {
    font-size: .75em;
  }

}